div.header
  span.left
    a(href="/")
      | ghit
    label
      | a github issue tracker
  span.right
    a(href="/", class="apple_store_link")
      i(class="fa fa-apple")
      | app store
    a(href="/about")
      | about
