div.header
  span.left
    a(href="/")
      | ghit
    label
      | a github issue tracker
  span.right
    a(href="https://itunes.apple.com/us/app/ghit-a-github-issue-tracker/id929836674?ls=1&mt=8", class="apple_store_link")
      i(class="fa fa-apple")
      | app store
    a(href="/about")
      | about
