extends components/base

block append content

  include components/header

  div.about
    | ghit was created by <a href="http://adamvanlente.com" target="new">
    | adamvanlente </a> because he wanted a cool way to create/update github issues while out
    | &amp; about. This app was built using the very wonderful
    | <a href="http://octokit.github.io/" target="new"> octokit </a> with a few
    | minor modifications.  It is also open source and available on
    | <a href="https://github.com/adamvanlente/ghit-app" target="new">github</a>
