extends components/base

block append content

  div.ghitMain
    span
    p
      | a github issue tracker for iOS


  div.nav_block
    div.nav_holder
      span.text
        | Manage your github issues with one simple app
      span.image.phone_1
