extends components/base

block append content

  div.ghitMain
    span
    p
      | a github issue tracker for iOS


  div.nav_block

    div.nav_holder
      span.text.right.header-text
        | Manage your github issues with one simple app
      span.image.phone_1

    div.nav_holder
      span.text.left.mobile
        | View all your repos and their open issues quickly.  Toggle visiblity of private repos.
      span.image.phone_2
      span.text.left.desktop
        | View all your repos and their open issues quickly.  Toggle visiblity of private repos.
