.ghitMain
  display: block

  span
    display: block
    background-image: url('../img/logo_clear_thin.png')
    height: 160px
    width: 400px
    background-size: 250px
    background-repeat: no-repeat
    background-position: center
    padding: 48px 0
    margin: 0 auto
    text-align: center

  p
    display: block
    margin: 0 auto
    width: 80%
    text-align: center
    font-family: "Lato", sans-serif
    font-weight: 100
    color: #fff
    font-size: 18px
