.ieBlock
  display: none
  width: 500px
  margin: 100px auto
  font-family: "Arial", sans-serif
  font-weight: 100

.header
  display: block
  position: fixed
  font-family: "Lato", sans-serif
  font-weight: 100
  top: 0
  left: 0
  right: 0
  background: #F8F8F8
  z-index: 2
  span
    display: inline-block
    padding: 12px 24px
    font-size: 20px

    a
      text-decoration: none
      color: #333
      cursor: pointer
      +trans($easybreezy)
      &:hover
        opacity: 0.8

      .fa
        font-size: 16px
        margin-right: 6px

    .apple_store_link
      margin-right: 24px

  .left
    text-align: left
    label
      color: rgba(179, 179, 179, 1)
      margin-left: 6px
      +break-for(iphone)
        display: none
  .right
    text-align: right
    float: right

.nav_block
  display: block
  width: 100%
  min-height: 100px
  margin-top: 24px
  +break-for(iphone)
    margin: 0
    padding: 0

  .nav_holder
    display: block
    width: 800px
    margin: 120px auto
    border-bottom: 5px solid gainsboro
    height: 425px
    +trans($quickie)
    +break-for(ipad)
      width: 500px
      margin: 150px auto
      margin-bottom: 0px
      border-bottom: 5px solid #DCDCDC
      height: auto
    +break-for(iphone)
      width: 300px
      margin: 50px auto
      margin-bottom: 0px
      border-bottom: 5px solid #DCDCDC
      height: auto

  .image
    display: inline-block
    height: 426px
    width: 400px
    background-size: 265px
    background-repeat: no-repeat
    background-position: center 28px
    +break-for(ipad)
      display: block
      height: 500px
      width: 400px
      background-size: 350px
      background-repeat: no-repeat
      background-position: center 10px
      margin: 0 auto
    +break-for(iphone)
      display: block
      height: 417px
      width: 300px
      background-size: 265px
      background-repeat: no-repeat
      background-position: center 10px
      margin: 0 auto


  .phone_1
    background-image: url('../img/phone_1.png')
  .phone_2
    background-image: url('../img/phone_2.png')
  .phone_3
    background-image: url('../img/phone_3.png')
  .phone_4
    background-image: url('../img/phone_4.png')

  .right
    text-align: right
  .left
    text-align: left

  .mobile
    display: none
    +break-for(ipad)
      display: block
    +break-for(iphone)
      display: block

  .desktop
    display: inline-block
    +break-for(ipad)
      display: none
    +break-for(iphone)
      display: none

  .header-text
    display: inline-block
    +break-for(iphone)
      display: block

  .text
    vertical-align: top
    width: 400px
    font-family: "Lato", sans-serif
    font-weight: 100
    color: #333333
    font-size: 28px
    margin-top: 125px
    +break-for(ipad)
      width: 500px
      font-family: "Lato", sans-serif
      font-weight: 100
      color: #333333
      font-size: 32px
      text-align: center
      vertical-align: middle
      padding: 24px 0
      margin: 0 auto
      margin-top: 25px
    +break-for(iphone)
      width: 300px
      font-family: "Lato", sans-serif
      font-weight: 100
      color: #333333
      font-size: 24px
      text-align: center
      vertical-align: middle
      padding: 24px 0
      margin: 0 auto
      margin-top: 25px


.app_store
  display: block
  font-family: "Lato", sans-serif
  font-size: 16px
  font-weight: 100
  text-decoration: none
  color: white
  background: rgb(228, 74, 74)
  width: 300px
  margin: 0 auto
  margin-bottom: 200px
  padding: 24px
  text-align: center
  border-radius: 1px
  cursor: pointer
  +trans($easybreezy)
  &:hover
    opacity: 0.8

  +break-for(ipad)
    margin-top: 200px
  +break-for(iphone)
    margin-top: 100px
    width: 250px

  .icon
    display: block
    font-size: 24px
  .text
    display: block
    margin-top: 12px
    +break-for(iphone)
      font-size: 32px
